body{
    font-family:'Open Sans', sans-serif;
    font-size: 15px;
    padding-top: 34px;
}
.Logo{ padding-top: 22.5px;
    display: block;
}
.nav-link{
    color: #5d5f65;
    font-size: 16px;
}
.todo-al-centro{
width: 100%;
height: 615px;
display: flex;
align-items: center;
}
.todo-al-centro h1{
    color: #141720;
    font-weight: bold;
    font-size: 44px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 17px;
}
.todo-al-centro h2{
    font-size: 25px;
    line-height: 2.4;
}

.dos-secciones{
    background-color: #141720;
    padding-top: 145px;
    padding-bottom: 241px;
    line-height: 1.7;
    color: #FFFFFF;
    position: relative;
}
.imagen-dos-secciones{
    width: 50%;
    height: 100%;
    background: url(../Imagenes/Bitmap.jpg);
    background-size: cover;
    position: absolute;
    top: 0%;
    right: 0%;
}
.our-services img{
padding-bottom: 160pxs;
align-items: center;
}
.our-services{
    padding-top: 10px;
    background-color: #efefef;
}
.were-hir{
    color: #FFFFFF;
    background-color: #141720;
    padding-left: 50px;
    position: relative;
}
.imagen-were{
    background: url(../Imagenes/GG\ bro.png);
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 50%;
    right: 700px;
}
.were-hir h4{
    padding-bottom: 50px;
    align-items: center;

}


